{% extends "/base/base_index.html" %}

{%block titulo %}Termos de Uso{% endblock %}

{% block principal %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/scrollbar.css">
    <title>BlogIt :: Termos de Uso</title>
</head>

<body class="d-flex flex-column vh-100">

    <!-- <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/img/logo-dark.svg" alt="Logo" height="24" class="d-inline-block">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link " href="/">Principal</a>
                <a class="nav-link " href="/contato">Contato</a>
                <a class="nav-link  text-success" href="/criarconta">Criar Conta</a>
                <a class="nav-link " href="/login">Entrar</a>
            </div>
        </div>
    </div>
    </nav> -->

    <main class="container mb-auto overflow-auto">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6">TERMOS DE USO</h1>
                <hr>

                <h3>Bem-vindo ao Cinemix! Esperamos que você goste da nossa plataforma, com suas funcionalidades de personalização exclusivas e variedade de conteúdo de alta qualidade para todos da família, incluindo todos os serviços Cinemix juntamente com uma coleção de filmes e séries.
                </h3><br>

                <h2>1. SOBRE ESTES TERMOS</h2>
                <p>A Plataforma fornece acesso ao Conteúdo transmitido pela Internet para dispositivos compatíveis. As referências a “você” nestes Termos também podem incluir quaisquer “Usuários autorizados” (conforme definido na Cláusula 2.2). Nossa Política de Privacidade descreve como tratamos suas informações pessoais e como nos comunicamos com você e pode ser visualizada em https://www.cinemix.com. O seu acesso ou uso da Plataforma confirma que você leu, entendeu e concordou com o Contrato em seu nome e em nome de quaisquer Usuários Autorizados.
                </p><br>

                <h2>2. CRIAÇÃO DA CONTA CINEMIX E AQUISIÇÃO DA ASSINATURA</h2>
                <p>Para acessar o HBO Max, você deve ter uma conta HBO Max (uma “Conta HBO Max”) e uma assinatura ativa (a “Assinatura”) com uma forma de pagamento válida (uma “Forma de Pagamento”) conosco ou com um terceiro que tenha sido autorizado a fornecer Assinaturas da Plataforma (cada, um “Provedor de Assinatura”).  Se adquirir sua Assinatura diretamente conosco, você criará sua Conta HBO Max no mesmo momento em que fizer a aquisição inicial.  Se você adquirir sua Assinatura por meio de um Provedor de Assinatura diferente, poderá ser necessário tomar medidas adicionais para configurar a Conta HBO Max, incluindo sair da plataforma do Provedor de Assinatura para confirmar suas informações diretamente conosco. 
                <br><br>
                Sua Assinatura será validada automaticamente cada vez que você entrar na Plataforma. No entanto, você precisará vincular sua Assinatura à sua Conta HBO Max se celebrar uma nova assinatura com outro Provedor de Assinatura. 
                </p><br>

                <h2>3. TESTES GRATUITOS E OFERTAS PROMOCIONAIS:</h2>
                <p> A Plataforma pode ser disponibilizada para você para um teste gratuito por um tempo limitado (“Assinatura de Teste”). A duração de cada Assinatura de Teste será especificada no momento do cadastro. As Assinaturas de Teste são limitadas a novos assinantes da Plataforma, a menos que especificado de outra forma. Seu Provedor de Assinatura determinará o seu status como um novo assinante da Plataforma. Estes Termos se aplicam a qualquer Assinatura de Teste, a menos que especificado de outra forma.
                <br><br>
                No momento do cadastro de uma Assinatura de Teste, você deverá fornecer uma Forma de Pagamento válida para usar a Plataforma durante o período de Assinatura de Teste. Sua Forma de Pagamento não receberá cobranças durante o período da Assinatura de Teste.
                <br><br>
                A MENOS QUE VOCÊ CANCELE A ASSINATURA DE TESTE ANTES DA DATA DE RENOVAÇÃO, QUANDO ELA EXPIRAR, O PREÇO DA ASSINATURA DA PLATAFORMA SERÁ COBRADO EM SUA FORMA DE PAGAMENTO. 
                <br><br>  
                Se oferecermos a você uma Assinatura de Teste ou outro preço promocional para uma Assinatura em sua Área de Serviço, os termos específicos da oferta serão divulgados durante o cadastro ou em outros materiais descritivos da oferta.  Em cada caso, após o término da sua Assinatura de Teste ou do período de preços promocionais, o Serviço de Pagamento começará a cobrar a Assinatura utilizando a sua Forma de Pagamento conforme o Preço da Assinatura regular, a menos que você cancele antes do término do período da oferta. Não avisaremos você que sua Assinatura de Teste ou oferta de preço promocional está prestes a terminar, a menos que sejamos obrigados a fornecer tal notificação pela lei aplicável.  
                <br><br>    
                Para encontrar informações adicionais sobre a Assinatura de Teste, incluindo a data em que ela termina, acesse a tela “Assinatura” em seu perfil na Plataforma para obter as informações mais recentes contidas em nossos registros ou entre em contato diretamente com o seu Provedor de Assinatura.</p><br>

                <h2>4. PAGAMENTO E COBRANÇA</h2>
                <p>

                <h3>Assinatura Contínua</h3>
                Ao criar uma conta com um Provedor de Assinatura e fornecer ao Provedor de Assinatura uma Forma de Pagamento, você concorda em pagar ao Provedor de Assinatura um Preço da Assinatura. Sujeito à Cláusula 2.3 (Testes Gratuitos e Ofertas Promocionais), o Provedor de Assinatura cobrará o primeiro Preço da Assinatura na sua Forma de Pagamento na data em que o Provedor de Assinatura confirmar a sua compra. Depois disso, o Preço da Assinatura será cobrado na sua Forma de Pagamento pelo Provedor de Assinatura de modo recorrente de acordo com o ciclo de cobrança designado.
                <br><br>

                <h3>Ciclo de Cobrança</h3> 
                O Preço da Assinatura será cobrado no momento em que você estabelecer sua Assinatura e de modo contínuo, a menos que você cancele a Assinatura. Observe que a duração do seu ciclo de cobrança variará de acordo com o tipo de Assinatura que você escolher ao assinar a Plataforma. Observe que o momento da cobrança poderá ser alterado no caso de um problema com a sua Forma de Pagamento, como um cartão de crédito expirado ou no caso de você alterar o plano de Assinatura. Você pode acessar o guia Assinatura na página “Minha Conta” para consultar a data da próxima cobrança.
                <br><br>

                <h3>Alterações do Preço da Assinatura</h3> 
                Seu Provedor de Assinatura poderá alterar o preço de uma Assinatura da Plataforma e comunicará a você quaisquer alterações do preço de acordo com a lei aplicável.
                <br><br>
                
            </div>
        </div>
    </main>

    <!-- SCRIPT BOOTSTRAP -->
    <script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>
{% endblock%}